
body {
    position: relative;
}

.backBut > div {
    font-size: 16px;
    padding: 16px 32px 16px 32px;
}

.rightCollumn {
    position: static;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightCollumn > div {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backBut {
    cursor: pointer;
    border: 1px solid #1095c1;
    color: #1095c1;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(#1095c1 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
}

.backBut:hover {
    --p: 100%;
    color: #fff;
}

.addButtonDiv {
    height: 100%;
    color: #1095c1;
    border: 1px solid #1095c1;
    border-top: none;
    font-weight: bold;
    font-size: large;
    background: linear-gradient(#1095c1 0 0) 0 / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
}

.addButtonDiv:hover {
    --p: 100%;
    color: #fff;
}

.addEvent {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #1095c1;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 2px;
    border: 1px solid #1095c1;
    background: linear-gradient(#1095c1 0 0) bottom / 100% var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0.4s;
}

.addEvent:hover {
    --p: 100%;
    color: #fff;
}