.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    border: 1px solid #1095c1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 2;
}

#inputText, .inputBttn {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}


#inputText {
    width: 75%;
    background-color: #F8F9FC;
    border-left: 1px solid #1095c1;
    color: #1095c1;
    font-weight: bold;
    font-size: x-large;
}

#inputText::placeholder {
    color: #1095c1;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.inputBttn {
    width: 25%;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid #1095c1;
    background: linear-gradient(#1095c1 0 0) right / 100% var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0.4s;
    color: #1095c1;
    font-size: 46px;
}

.inputLeft, .inputRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLeft {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.inputBttn:hover {
    --p: 100%;
    color: #fff;
}



